In [1]:
import os
import sys; sys.path.insert(0, os.path.abspath("../"))
import cv2
import numpy as np 
import matplotlib.pyplot as plt
from utils.plots import get_image, get_image_and_plot
from tqdm import tqdm
import pandas as pd

#### get images size df

In [ ]:
def load_images_from_folder(folder):
    images=[]
    for filename in os.listdir(folder):
        full_path = folder + filename
        images.append(full_path)
    return images

In [ ]:
path = '../data/binary/val/nevus/'
images_folder = load_images_from_folder(path)
print(np.size(images_folder))
metadata = []

for idx, img_path in enumerate(images_folder):
    img_data = {} # img_id, label, size, height, width, path
    img_data['img_id'] = int(img_path.split('/')[-1].split('.')[0][-5:])
    img_data['label'] = 'nevus'
    img_data['sublabel'] = img_path.split('/')[-1].split('.')[0][:3]
    image = cv2.imread(img_path, cv2.IMREAD_COLOR)
    img_data['size'] = image.shape
    img_data['height'] = image.shape[0]
    img_data['width'] = image.shape[1]
    img_data['path'] = img_path
    img_data['split'] = 'val'
    metadata.append(img_data)

metadata_nev_df = pd.DataFrame(metadata)
del metadata

1931

In [ ]:
metadata_nev_df.head()

,img_id,label,sublabel,size,height,width,path,split
0,8391,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08391.jpg,val
1,8972,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08972.jpg,val
2,8399,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08399.jpg,val
3,8149,nevus,nev,"(768, 1024, 3)",768,1024,../data/binary/val/nevus/nev08149.jpg,val
4,8604,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08604.jpg,val

In [ ]:
path = '../data/binary/val/others/'
images_folder = load_images_from_folder(path)
print(np.size(images_folder))

metadata = []

for idx, img_path in enumerate(images_folder):
    img_data = {} # img_id, label, size, height, width, path
    img_data['img_id'] = int(img_path.split('/')[-1].split('.')[0][-5:])
    img_data['label'] = 'others'
    img_data['sublabel'] = img_path.split('/')[-1].split('.')[0][:3]
    image = cv2.imread(img_path, cv2.IMREAD_COLOR)
    img_data['size'] = image.shape
    img_data['height'] = image.shape[0]
    img_data['width'] = image.shape[1]
    img_data['path'] = img_path
    img_data['split'] = 'val'
    metadata.append(img_data)

metadata_others_df = pd.DataFrame(metadata)
del metadata

1865

In [ ]:
metadata_others_df.head()

,img_id,label,sublabel,size,height,width,path,split
0,306,others,ack,"(450, 600, 3)",450,600,../data/binary/train/others/ack00306.jpg,train
1,241,others,scc,"(450, 600, 3)",450,600,../data/binary/train/others/scc00241.jpg,train
2,1758,others,bcc,"(450, 600, 3)",450,600,../data/binary/train/others/bcc01758.jpg,train
3,858,others,bkl,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bkl00858.jpg,train
4,782,others,bcc,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bcc00782.jpg,train

In [ ]:
md_binary_val = pd.concat([metadata_nev_df, metadata_others_df], ignore_index=True)
md_binary_val.head()

,img_id,label,sublabel,size,height,width,path,split
0,8391,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08391.jpg,val
1,8972,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08972.jpg,val
2,8399,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08399.jpg,val
3,8149,nevus,nev,"(768, 1024, 3)",768,1024,../data/binary/val/nevus/nev08149.jpg,val
4,8604,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08604.jpg,val

In [ ]:
md_binary_val.shape

(3796, 8)

In [ ]:
md_binary_val.to_csv('../data/metadata/binary_val.csv')

In [13]:
md_binary_val = pd.read_csv('../data/metadata/binary_val.csv', index_col=[0])
md_binary_train = pd.read_csv('../data/metadata/binary_train.csv', index_col=[0])

In [14]:
md_binary_train

,img_id,label,sublabel,size,height,width,path,split
0,3295,nevus,nev,"(450, 600, 3)",450,600,../data/binary/train/nevus/nev03295.jpg,train
1,4630,nevus,nev,"(450, 600, 3)",450,600,../data/binary/train/nevus/nev04630.jpg,train
2,4174,nevus,nev,"(450, 600, 3)",450,600,../data/binary/train/nevus/nev04174.jpg,train
3,3911,nevus,nev,"(450, 600, 3)",450,600,../data/binary/train/nevus/nev03911.jpg,train
4,1315,nevus,nev,"(450, 600, 3)",450,600,../data/binary/train/nevus/nev01315.jpg,train
...,...,...,...,...,...,...,...,...
15190,714,others,bkl,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bkl00714.jpg,train
15191,261,others,mel,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/mel00261.jpg,train
15192,121,others,bcc,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bcc00121.jpg,train
15193,1561,others,bcc,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bcc01561.jpg,train
15194,1905,others,mel,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/mel01905.jpg,train

In [17]:
md_binary = pd.concat([md_binary_val, md_binary_train], ignore_index=True)
# md_binary.to_csv('../data/metadata/binary.csv')

In [16]:
md_binary

,img_id,label,sublabel,size,height,width,path,split
0,8391,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08391.jpg,val
1,8972,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08972.jpg,val
2,8399,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08399.jpg,val
3,8149,nevus,nev,"(768, 1024, 3)",768,1024,../data/binary/val/nevus/nev08149.jpg,val
4,8604,nevus,nev,"(450, 600, 3)",450,600,../data/binary/val/nevus/nev08604.jpg,val
...,...,...,...,...,...,...,...,...
18986,714,others,bkl,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bkl00714.jpg,train
18987,261,others,mel,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/mel00261.jpg,train
18988,121,others,bcc,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bcc00121.jpg,train
18989,1561,others,bcc,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/bcc01561.jpg,train
18990,1905,others,mel,"(1024, 1024, 3)",1024,1024,../data/binary/train/others/mel01905.jpg,train

In [22]:
md_binary.loc[md_binary['split'] == 'val','size'].value_counts()

(1024, 1024, 3)    1871
(450, 600, 3)      1478
(680, 1024, 3)      163
(768, 1024, 3)      121
(682, 1024, 3)       28
(685, 1024, 3)       26
(679, 1024, 3)       16
(764, 1024, 3)       11
(576, 767, 3)        10
(681, 1024, 3)        9
(683, 1024, 3)        9
(802, 919, 3)         9
(684, 1024, 3)        5
(677, 1024, 3)        5
(686, 1024, 3)        4
(716, 1024, 3)        3
(767, 1022, 3)        3
(678, 1024, 3)        3
(676, 1024, 3)        2
(768, 576, 3)         2
(719, 824, 3)         2
(542, 718, 3)         1
(602, 639, 3)         1
(542, 722, 3)         1
(914, 1024, 3)        1
(634, 959, 3)         1
(673, 1024, 3)        1
(710, 1024, 3)        1
(722, 962, 3)         1
(645, 966, 3)         1
(670, 962, 3)         1
(642, 958, 3)         1
(674, 1024, 3)        1
(717, 1019, 3)        1
(674, 962, 3)         1
(690, 1024, 3)        1
(1024, 857, 3)        1
Name: size, dtype: int64

In [23]:
md_binary.loc[md_binary['split'] == 'train','size'].value_counts()

(1024, 1024, 3)    7452
(450, 600, 3)      6024
(680, 1024, 3)      681
(768, 1024, 3)      462
(682, 1024, 3)       99
                   ...
(818, 1024, 3)        1
(675, 1024, 3)        1
(626, 949, 3)         1
(680, 853, 3)         1
(540, 722, 3)         1
Name: size, Length: 73, dtype: int64